
body.home {
    background-image:url("images/bg1.jpg"); 
    background-repeat: no repeat;
    background-size: cover !important;
    font-family: 'Quintessential', cursive;
    font-size: 25px;
    color: black;

}
image{
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.para {
	color:#D7DBDD;
	font-family: 'Dosis', sans-serif;
	font-size: 17px;
	margin-left: 10px;
}

.spiclogo {
	margin-left: 43%;
	margin-top: 0px;
}
.carousel-indicators li {
	 visibility: hidden; 
}
.images img{
	display: inline;
	width: 22%;
}
#fii{

}

.nav li{
	font-size: 20px;
}
.modal-body{
	font-size: 17px;
}
.expand img{
	display: block;
    margin: auto;
	width: 60%;
}
.btn-link{
	color: red;
}
.button:focus
{
   font-size: 13px;
    color:orange;
}
.btn-link, .btn-link:hover, .btn-link:active, .btn-link:visited {
    color: black !important;
    font-size: 19px !important;
}
.img-rounded{
	border-radius: 20px !important;
}
.photos{
	float: left;
	margin-left: 398px;
	text-align: center;
}
.photos1{
	float: left;
	margin-top: 10px;
	margin-left: 55px;
	text-align: center;
}
.photos2{
	float: left;
	margin-top: 3px;
	margin-left: 23px;
	text-align: center;
}
.navbar-brand img{	
	height: 50px !important;
}
#logo{
	max-width: 180%;
}
#name{
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: bold;
}
.wrap{
	background-color: #ECF0F1;
}
.wrap-text{
	color: black;
	font-size: 15px;
	font-family: "Times New Roman", Georgia, Serif;
}
.wrap-head{
	background-color: #ECF0F1;
	color: black;
	font-style: italic;
	font-size: 20px;
	font-family: "Times New Roman", Georgia, Serif;
}
.modal-content{
	
	border: none !important;
	
}
.modal-dialog{
	margin: 0;
}

#contact{
	color: black;
	font-size: 20px;
	font-weight: 600;
}
